/*
========================================================================================
    conf/slurm.config - SLURM HPC executor settings
========================================================================================
*/

process {
    executor       = 'slurm'
    clusterOptions = { "--account=${params.slurm_account}" }
    queue          = { params.slurm_partition ?: (task.memory >= 100.GB ? 'highmem' :
                       task.cpus   >= 16     ? 'himem'   : 'normal') }

    withLabel:process_single {
        cpus   = 1
        memory = '6.GB'
        time   = '4.h'
    }
    withLabel:process_low {
        cpus   = 4
        memory = '16.GB'
        time   = '6.h'
    }
    withLabel:process_medium {
        cpus   = 8
        memory = '64.GB'
        time   = '12.h'
    }
    withLabel:process_high {
        cpus   = 16
        memory = '128.GB'
        time   = '24.h'
    }
}

params {
    slurm_account = null  // Set via --slurm_account or in profile
    slurm_partition = null
}
