/*
========================================================================================
    conf/test.config - Test profile using minimal test data
========================================================================================
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources for testing
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data (small test dataset)
    input   = "${projectDir}/test_data/samplesheet_test.csv"
    outdir  = './test_results'

    // Genome (use small chr22 subset for testing)
    fasta   = "${projectDir}/test_data/genome/chr22_subset.fa"
    gtf     = "${projectDir}/test_data/genome/chr22_subset.gtf"

    // Test parameters
    ko_gene             = 'IGF2BP3'
    ko_condition        = 'I3KO'
    control_condition   = 'NT'

    // Speed up test by skipping heavy steps
    skip_report = false
}
